<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Toaru - Edição Definitiva</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/mangá.css">

</head>

<body>

    <div id="dashboard-view">
        <div class="app-wrapper">
            <div class="main-content">
                <header class="top-header">
                    <div class="logo">TOARUFLIX</div>
                    <div class="header-right">
                        <div class="profile-container">
                            <!-- aqui é pra você arrumar o header pra ficar igual ao dashboard.html -->
                            <img class="profile-icon" id="header-profile-icon" src="">
                            <div class="profile-dropdown" id="profile-dropdown">
                                <a id="Anime" href="#">Anime</a>
                                <!-- esse a é pra ir pro dahsboard.html -->
                                <a id="Mangá" href="#">Mangá</a>
                                <!-- esse a é pra ir pro anime.html -->
                                <a id="Light-Novel" href="#">Light Novel</a>
                                <!-- esse aqui é pra ir pro mangá.html -->
                                <a id="Imaginary Fest" href="#">Imaginary Fest</a>
                                <!-- esse aqui eu ainda vou trabalhar nele mas é pra você linkar com o ImaginaryFest.html -->
                                <a id="manage-profiles-link" href="#">Gerenciar Perfis</a>
                                <a id="account-link" href="#">Conta</a>
                                <a id="logout-button" href="#">Sair</a>
                                <!-- e no final copiar e colar esse header nas outras páginas pra ficar certinho. Eu vou criar o header.js pra você colocar todos esses scripts em um js e só linkar com as páginas -->

                            </div>
                        </div>
                    </div>
                </header>
                <main id="site-view">
                    <div class="series-grid">

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Railgun" class="series-cover">
                            <span>Toaru Kagaku no Railgun</span>
                        </div>

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Index" class="series-cover">
                            <span>Toaru Majutsu no Index</span>
                        </div>

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Accelerator" class="series-cover">
                            <span>Toaru Kagaku no Accelerator</span>
                        </div>

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Dark Matter" class="series-cover">
                            <span>Toaru Kagaku no Dark Matter</span>
                        </div>

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Astral Buddy" class="series-cover">
                            <span>Toaru Kagaku no Astral Buddy</span>
                        </div>

                        <div class="series-card">
                            <img src="../../img/placeholder.jpg" alt="Capa Mental Out" class="series-cover">
                            <span>Toaru Kagaku no Mental Out</span>
                        </div>

                    </div>

                </main>
            </div>
        </div>
    </div>
    <script src="../../../js/navigation.js"></script>
</body>

</html>